/* CSS Document */
body{background:url(../img/bg-new.png) repeat-x #093D67; padding:0; margin:0;}
.top{background:url(../img/head-bg.jpg) no-repeat; width:980px; height:300px; margin:auto;}
.wrapper{background:url(../img/bg-log.jpg) no-repeat; margin:auto; width:980px; height:300px;}